@import "highlight.styl"

.article-header
.article-meta
.footer
  text-align: center

.article-meta .author
  display: inline
  margin-right: 1em

.article-meta .date
  color: #999

.article
  h1
    margin: 0.2em 0
  h2, h3, h4, h5, h6
    margin: 0.8em 0 0.2em
  ul
    margin: 0 0 1em 1.5em
    list-style: disc
  ol
    margin: 0 0 1em 1.5em
    list-style: decimal
  p, figure, table, iframe, blockquote
    margin: 0 0 1em
  blockquote
    padding: 1em 1.5em 0
    border-left: 0.5em solid #ddd
    font-size: 0.8em
    background: #f8f8f8
    overflow: auto
  code
    padding: 0.1em 0.2em
    background: #f8f8f8
  table
    th, td
      border: 1px solid #ddd
      padding: 0.2em 1em
      font-size: 0.8em
    th
      background: #eee
    tr:nth-child(odd) td
        background: #f8f8f8
    tr:nth-child(even) td
        background: #fbfbfb