<div class="grid">
    <div class="unit whole">
        <ul class="post-list">
        <% site.categories.each(function(category) { %>
            <li>
                <a href="<%= url_for(category.path) %>"><%= category.name %></a>
            </li>
        <% }); %>
        </ul>
    </div>
</div>
