<div class="grid">
    <div class="unit whole">
		<ul class="post-list">
		<% site.posts.forEach(function(post) { %>
		    <li>
		        <a href="<%= post.permalink %>"><%= post.title %></a>
		        <small>
                    <time class="date"><%- date(post.date) %></time>
                </small>
		    </li>
		<% }); %>
		</ul>
	</div>
</div>
