<footer class="footer">
	<div class="grid">
		<div class="unit whole">
			&#169; 2014 XcatLiu. Powered by
			<a target="_blank" href="http://hexo.io/">hexo</a>
			and host by
			<a target="_blank" href="https://github.com/xcatliu">GitHub</a>
		</div>
	</div>
</footer>
<%- partial('_partial/google_analytics') %>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>