<section class="header">
  <div class="whole clearfix">
    <div class="header-left">
      <nav>
        <a href="<%= config.root %>"><%= config.title %></a>
        <a href="/blog">Blog</a>
        <a href="/photos">Photos</a>
        <a href="/projects">Projects</a>
      </nav>
    </div>
    <div class="header-right">
      <nav>
        <a href="/about">About</a>
        <a href="/atom.xml">Feed</a>
      </nav>
    </div>
  </div>
</section>
