<section class="header">
  <div class="grid">
    <div class="unit whole">
      <div class="header-left">
        <nav>
          <a href="<%= config.root %>">XcatLiu</a>
          <a href="/blog">Blog</a>
          <a href="/photos">Photos</a>
          <a href="/projects">Projects</a>
          <a href="/apps">Apps</a>
        </nav>
      </div>
      <div class="header-right">
        <nav>
          <a href="/about">About</a>
          <a href="/feed.xml">Feed</a>
        </nav>
      </div>
    </div>
  </div>
</section>
