<section class="header">
	<div class="grid">
		<div class="unit whole">
			<div class="header-left">
				<nav>
					<a href="<%= config.root %>">XcatLiu</a>
					<% if (page.archive === true || page.layout === 'post') { %>
						<span>&#62;</span>
						<a href="/blog">blog</a>
					<% } %>
					<% if (page.title) { %>
						<span>&#62;</span>
						<a href="<%= page.permalink %>"><%= page.title %></a>
					<% } %>
				</nav>
			</div>
			<div class="header-right">
				<nav>
					<a href="https://github.com/xcatliu">About</a>
				</nav>
			</div>
		</div>
	</div>
</section>
