// Colors
color-default = #333
color-border = #ccc
color-link = red
color-background = #eee

color-google-blue = #3369E8
color-google-red = #D50F25
color-google-yellow = #EEB211
color-google-green = #009925

color-xcatliu-yellow = #fb5

// Fonts
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 20px
line-height = 1.5em

// Layout
article-padding = 1em