@import "nib"
@import "_partial/gridism.css"
@import "_partial/typo.css"
@import "_partial/typo-xcatliu.styl"
// @import "_partial/highlight.styl"


.header-left
  float: left
.header-right
  float: right
.header-left a
  margin-right: 1em
.header-right a
  margin-left: 1em

.header
.footer
  background: #f8f8f8

.article-header
.article-meta
.footer
  text-align: center

.article-meta address
  display: inline
  margin-right: 1em

.post-list
  .date
    margin-left: 1em

