@import "nib"
@import "_partial/gridism.css"
@import "_partial/typo.css"

// 覆盖 typo.css
a
  color: #4072a6
.typo a
  border-bottom: 1px solid #4072a6
blockquote
  border-left: 1px solid #4072a6


.header-left
  float: left
.header-right
  float: right
.header-left a
  margin-right: 1em
.header-right a
  margin-left: 1em

.header
.footer
  color: #ccc
  background: #f8f8f8

.article-header
.article-meta
.footer
  text-align: center

.post-list
  .date
    margin-left: 1em

