/* normalize */

body {
  color: #333;
  background: white;
  font-size: 20px;
  line-height: 1.5em;
}

body, ul, ol, figure, pre, blockquote {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font-family: 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
}

pre, code {
  font-family: Courier, Courier New, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.8em;
  margin: 1em 0 0.5em;
}

h1 {
  font-size: 2em;
  margin-top: 0.5em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5, h6 {
  font-size: 1.2em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0 2em;
  padding: 0;
}

p {
  margin: 0.5em 0;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #5CC3A1;
  text-decoration: none;
}

a:hover {
  color: #1F9C73;
  text-decoration: underline;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}


/* layout */

.whole {
  max-width: 46em;
  padding: 0.5em 1em;
  margin: 0 auto;
}


/* header */

.header {
  background: #f8f8f8;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header a {
  margin: 0 0.5em;
}
.header a:last-child {
  margin-right: 0;
}
.header a:first-child {
  margin-left: 0;
}


/* footer */

.footer {
  text-align: center;
  background: #F8F8F8;
  color: #999;
}


/* article */

article ul, article ol {
  list-style-type: square;
  margin: 0 0 1em 1.5em;
}




